
<meta charset="utf-8">
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="./../style.css" />
    <title>[Vue.js] Composition API v-for</title>
</head>
<body id="tt-body-page" class="">
<div id="wrap" class="wrap-right">
    <div id="container">
        <main class="main ">
            <div class="area-main">
                <div class="area-view">
                    <div class="article-header">
                        <div class="inner-article-header">
                            <div class="box-meta">
                                <h2 class="title-article">[Vue.js] Composition API v-for</h2>
                                <div class="box-info">
                                    <p class="category">Front-end/Vue.js</p>
                                    <p class="date">2025-06-01 15:11:30</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="article-view">
                        <div class="contents_style">
                            <p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; background-color: #c0d1e7; color: #000000;">vue.js 공식문서, GPT를 통해 학습한 내용을 정리합니다.&nbsp;</span></p>
<p style="background-color: #fafafa; color: #222222; text-align: start;" data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; background-color: #c0d1e7; color: #000000;">잘못된 내용을 포함하고 있을 수 있습니다.&nbsp;</span></p>
<p data-ke-size="size16">&nbsp;</p>
<h2 data-ke-size="size26"><b><span style="font-family: 'Noto Sans Light'; color: #000000;">#v-for</span></b></h2>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;"><span style="background-color: #333333; color: #dddddd;">v-for</span> 문법을 사용하면 반복되는 HTML 컴포넌트를 마치 일반 프로그래밍 언어의 For문을 사용하듯 반복할 수 있다.&nbsp;</span></p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">예시로 아래와 같이 동일한 div 태그 컴포넌트가 3개 반복되는 구조가 있다고 가정해 보자.</span></p>
<pre id="code_1748757564831" class="html xml" data-ke-language="html" data-ke-type="codeblock"><code>            &lt;div&gt;
                &lt;a&gt;ID&lt;/a&gt;
                &lt;a&gt;PW&lt;/a&gt;
                &lt;a&gt;About&lt;/a&gt;
            &lt;/div&gt;
            &lt;div &gt;
                &lt;a&gt;ID&lt;/a&gt;
                &lt;a&gt;PW&lt;/a&gt;
                &lt;a&gt;About&lt;/a&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;a&gt;ID&lt;/a&gt;
                &lt;a&gt;PW&lt;/a&gt;
                &lt;a&gt;About&lt;/a&gt;
            &lt;/div&gt;</code></pre>
<p><figure class="imageblock alignLeft" width="223" height="101" >
    <span data-lightbox="lightbox">
        <img src="./img/img.png" width="223" height="101"  />
    </span>
    <figcaption></figcaption>
</figure></p>
<p data-ke-size="size16">&nbsp;</p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">이를 vue.js의 v-for 문법을 사용하면 아래와 같이 한 개의 div Tag로 축약이 가능하다.&nbsp;</span></p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">(출력 결과는 동일하다.)&nbsp;</span></p>
<pre id="code_1748757649974" class="html xml" data-ke-language="html" data-ke-type="codeblock"><code>            &lt;!-- v-for="변수명 in 반복횟수" :key="변수명" --&gt;
            &lt;div v-for="ID in 3" :key="ID"&gt;
                &lt;a&gt;ID&lt;/a&gt; 
                &lt;a&gt;PW&lt;/a&gt;
                &lt;a&gt;ABOUT&lt;/a&gt;
            &lt;/div&gt;</code></pre>
<p data-ke-size="size16">&nbsp;</p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">v-for 문법의 사용형식은 다음과 같다.&nbsp;</span></p>
<pre id="code_1748757688221" class="html xml" data-ke-language="html" data-ke-type="codeblock"><code>v-for="변수명 in 반복횟수" :key="변수명"</code></pre>
<p data-ke-size="size16">&nbsp;</p>
<h2 data-ke-size="size26"><b><span style="font-family: 'Noto Sans Light'; color: #000000;">#객체순회</span></b></h2>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">단순히 태그를 반복하는 것뿐만 아니라 반복 횟수 부분에 반복 가능한 변수 (Array, Object) 자료형을 넣어서 데이터 내부의 자료를 순차적으로 출력하는 것 또한 가능하다.&nbsp;</span></p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">Composition API 방식으로 script 태그 내부에 출력할 contents 배열을 선언해 주었다.</span></p>
<pre id="code_1748757876477" class="html xml" data-ke-language="html" data-ke-type="codeblock"><code>&lt;script setup&gt;

    import { ref } from 'vue' 

    // 데이터를 객체 형식으로 정의 
    const contents = ref([
        'ID', 'PW', 'About'
    ])

&lt;/script&gt;</code></pre>
<p data-ke-size="size16">&nbsp;</p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">다음으로 &lt;template&gt; Tag 내부에 v-for 문법을 사용해 contents 내부 데이터를 순차적으로 화면에 출력한다.&nbsp;</span></p>
<pre id="code_1748757972346" class="html xml" data-ke-language="html" data-ke-type="codeblock"><code>&lt;a v-for="content in contents" :key="content"&gt;{{content}}&lt;/a&gt;</code></pre>
<p><figure class="imageblock alignLeft" width="234" height="39" >
    <span data-lightbox="lightbox">
        <img src="./img/img_1.png" width="234" height="39"  />
    </span>
    <figcaption></figcaption>
</figure></p>
<p data-ke-size="size16">&nbsp;</p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">객체 내부의 데이터를 출력할 때 v-for 문법 형식은 아래와 같다.&nbsp;</span></p>
<pre id="code_1748758041284" class="html xml" data-ke-language="html" data-ke-type="codeblock"><code>v-for "변수명 in 객체,배열 이름" :key="변수명"</code></pre>
<p data-ke-size="size16">&nbsp;</p>
<h2 data-ke-size="size26"><b><span style="font-family: 'Noto Sans Light'; color: #000000;">#:key</span></b></h2>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;"><span style="background-color: #333333; color: #dddddd;">"객체, 배열 내부에 중복되는 변수가 없다면"</span> <span style="background-color: #c0d1e7;">:key 뒤에 변수명과 순회할 변수명은 통일시켜 주는 것을 권장</span>한다.&nbsp;</span></p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">굳이 왜 :key를 적어 주어야 하는지 의문이 생길 수 있는데&nbsp;</span></p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">vue.js는 DOM을 렌더링시 가상 DOM (Virtual DOM) 방식을 사용한다.&nbsp;</span></p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">만약 :key가 없으면 항목의 순서만 보고 비교를 시도한다.&nbsp;</span></p>
<p data-ke-size="size16"><span style="font-family: 'Noto Sans Light'; color: #000000;">그렇기에 <span style="background-color: #c0d1e7;">:key를 별도로 명시해 주지 않으면 예상치 못한 렌더링 결과가 생길 수 있기에 적어주도록 하자</span></span></p>
                        </div>
                        <br/>
                        <div class="tags">
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
