body {
  margin: 0;
  padding-left: 250px;
  padding-right: 250px;
  background-color: #FDFDFD;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin : 5px 0px;
} 

/** navBar Css*/
.navbar {
  background: #FDFDFD;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.navbar a {
  margin-right: 10px; 
  text-decoration: none;
}

/* 좌측 로고 영역 */
.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  display: block;
}



/* 좌측 메뉴 영역 */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* 우측 아이콘/버튼 */
.navbar-right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.login-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  border-radius: 0;
  font-size: 14px;
  cursor: default;
}

.login-button:hover {
  background-color: transparent;
  color: black;
}

/* write page input tag css */
.p-20 {
  padding: 20px;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
} 

/* write page css */

.content-textarea {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 10px 0;
  outline: none;
  color: #444;
  resize: vertical; /* 사용자가 줄 수 조절 가능 */
  line-height: 1.5;
  font-family: inherit;
}

.write-container {
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.select-category {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 40px;
  border-radius: 4px;
  color: #444;
}

.title-input {
  font-size: 24px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  outline: none;
  color: #444;
}

.content-input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 10px 0;
  outline: none;
  color: #444;
}

.title-input::placeholder,
.content-input::placeholder,
.select-category::placeholder {
  color: #bbb;
}

/* a tag css */
a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: #FDFDFD;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  margin-top: auto;
}

.main-content-wrapper {
  display: flex;
  gap: 20px; /* Adjust as needed */
  padding: 20px; /* Adjust as needed */
}

.main-page-content {
  flex-grow: 1;
  padding: 20px;
}

.newsHeading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: 200;
  color: #262627;
  margin-top: 50px;
  margin-bottom: 10px;
}

.newsLine {
  border: none;
  border-top: 2px dashed #ccc !important;
  width: 100%;
  margin-bottom: 50px;
}

.solidLine {
  border: none;
  border-top: 2px solid #ccc !important;
  width: 100%;
  margin-bottom: 50px;
}