fastapi
uvicorn
langchain
langchain-upstage
sentence-transformers
pydantic
beautifulsoup4
chromadb>=1.0.9
numpy<2.0.0
langchain-community
langchain-huggingface
langchain-chroma
transformers>=4.54.0
torch>=2.6.0
torchvision>=0.21.0
einops
python-dotenv
ragas
langchain-openai